a(href='http://localhost:3050/sensors/') All sensors
- var old_sensor_id;
table  
  tr 
    th Time Ago
    th Humidity
    th Temp(DHT22)
    th Temp(DS1820)
      each sensor in sensors
        if(old_sensor_id != sensor.id)
          tr
        if(old_sensor_id != sensor.id)
          td #{time_ago_in_words(sensor.value[2])}
       
        td | #{sensor.value[1]} |
        - old_sensor_id = sensor.id;

    

