a(href='http://localhost:3050/sensors/room1') room1

if (sensors[0])
  h2 All sensors
else
  h2 Empty 
  
ul#sensors
  each sensor in sensors 
    li(class='sensor-' + sensor.value._id)  #{time_ago_in_words(sensor.value.time)} 	| #{sensor.value.name}	| #{sensor.value.data} |
