a(href='http://localhost:3050/sensors/') All sensors
if (sensors[0])
  h2 address : #{sensors[0].value.address}
  h2 name : #{sensors[0].value.name}
else
  h2 Empty  
ul#sensors
  each sensor in sensors
    li(class='sensor-' + sensor.value._id) #{time_ago_in_words(sensor.value.time)} | #{sensor.value.data} |