a(href='http://localhost:3050/sensors/room1') room1
div(id='docs')  
table
  th Time Ago
  each sensor in sensors 
      - var sensors_arr = printObj(sensor.value.sensors);
      tr     
        td #{time_ago_in_words(sensor.value.time)}    
        each  sen in sensors_arr
          td  ----|   #{sen.data}   |
         

